.message {
    display: flex;
    align-items: top;
    padding: 15px;
    color: white;
}

.message_avatar {
    margin-top: 7px;
}

.message_info {
    margin-left: 20px;
}

.message_timestamp {
    color: gray;
    margin-left: 20px;
    font-size: x-small;
}