.serverBar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #202225;
    text-align: center;
    align-items: center;
}

.addServerButton {
    transition-duration: 0.25s;
    margin-top: 8px;
    border-radius: 100%;
    display: flex;
    background-color: #36393f;
    height: 50px;
    width: 50px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.addIcon {
    transition-duration: 0.25s;
    color: #3ba55d;
}

.addServerButton:hover {
    background-color: #3ba55d;
    border-radius: 17px;
}

.addServerButton:hover>.addIcon {
    color: white;
}

.addIcon:hover {
    color: white;
}