.channelSection:hover>div {
    color: white;
    background-color: #40464b;
    border-radius: 10px;
}

.channelName {
    display: flex;
    flex: 1;
}

.channelSection>div {
    display: flex;
    padding-left: 8px;
    align-items: center;
    background-color: #2f3135;
    color: gray;
    cursor: pointer;
}

.channel_delete {
    color: #2f3135;
}

.channelDelete:hover {
    color: white;
}

.channel_text:hover>.channel_delete {
    color: gray;
}

.sidebarChannel_hash {
    font-size: 20px;
    padding-right: 8px;
}

.channelSection {
    display: flex;
}

.channel_text {
    height: 40px;
    margin: 0px 7px;
    flex: 1;
}

.channel_delete {
    padding: 8px;
    font-size: 10px;
}