.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #2f3135;
}

.sidebar_top {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #2f3135;
    color: white;
    border-bottom: 3px solid #26282c;
}

.sidebar_channels {
    flex: 1;
}

.sidebar_addChannel:hover {
    cursor: pointer;
}

.sidebar_channelsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
    padding: 6px;
    background-color: #2f3135;
    color: gray;
}

.sidebar_header {
    display: flex;
    align-items: center;
}

.sidebar_voice,
.sidebar_profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    background-color: #292b2f;
    padding: 3px;
    padding-right: 8px;
}

.sidebar_voiceInfo {
    flex: 1;
    padding: 10px;
}

.sidebar_voiceIcon {
    color: #4fb185;
}

.sidebar_voiceInfo>h3 {
    color: #4fb185;
}

.sidebar_voiceInfo>p {
    font-size: smaller;
}

.sidebar_voiceIcons>.MuiSvgIcon-root {
    padding: 10px;
}

.sidebar_profileInfo {
    width: 90px;
    flex: 1;
    padding: 8px;
    padding-left: 8px;
}

.sidebar_profileInfo>h5 {
    color: white;
    font-size: 13px;
}

.sidebar_profileInfo>p {
    font-size: 13px;
    color: white;
}

.sidebar_profileIcons>.MuiSvgIcon-root {
    color: white;
    font-size: 21px;
    padding: 6px;
}

.sidebar_profileIcons {
    display: flex;
}

.sidebar_addChannel:hover {
    color: white;
}

.sidebar_avatar {
    margin-left: 9px;
}

.sidebar_top[value]>.MuiSvgIcon-root {
    cursor: pointer;
    visibility: visible;
}

.sidebar_top>.MuiSvgIcon-root {
    visibility: hidden;
}